cleaner.sce
loader.sce
*.bak
macros/*.bin
macros/lib
macros/names
*.lib
*.so
*.dll
*.exp
jar/
help/en_US/master_help.xml
help/en_US/scilab_en_US_help/
sci_gateway/c/Makelib.mak
sci_gateway/c/Release/
sci_gateway/c/Debug/
sci_gateway/cleaner_gateway.sce
sci_gateway/loader_gateway.sce
sci_gateway/c/csvreadwrite_c.c
sci_gateway/c/csvreadwrite_c.def
src/c/Debug/
src/c/Makelib.mak
src/c/Release/
src/c/libcsv_readwrite.def
